# Authentication
PermitRootLogin no
PasswordAuthentication yes
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys

# Security
PermitEmptyPasswords no
X11Forwarding yes
X11UseLocalhost no
MaxAuthTries 3
LoginGraceTime 30

# Session
ClientAliveInterval 120
ClientAliveCountMax 3

# Logging
LogLevel VERBOSE
